.city-wrapper{
 max-width: 1150px;
 margin: 0 auto;

 
}
.select-city{
  max-width: 600px;
  width: 100%;
  font-weight: 800;
   text-align: center;
   padding: 0 10px;
   
}
.select-country{
   max-width: 250px;
   text-align: start;
   font-size: 13px;
   font-weight: 800;
   
   
}
.card-wrapper{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap; 
   padding: 25px 0;
}
.date{
   padding: 20px;
   font-size: 30px;
   font-weight: 800;
}
a{
   text-decoration: none;
   color: inherit;
}
.country-wrapper{
   display: flex;
   justify-content: end;
   
}
.city-wrapper{
   padding: 50px 0;
}
.select-wrapper{
   display: flex;
   justify-content: center;
}