.header{
   display: flex;
   align-items: center;
   justify-content: space-around;
   background-color: rgb(128, 187, 250);
   padding: 10px 0;
}
.logo{
   display: flex;
   text-align: center;
   align-items: center;
}
.logo-img{
   width: 100px;
}
.title{
   font-size: 30px;
  
}
.nav-list{
   display: flex;
   align-items: center;
   justify-content: center;
   list-style: none;
}
.link{
   font-size: 30px;
   font-weight: 800;
   padding: 8px;
   border-radius: 10px;
   text-decoration: none;
   color: black;
}
.link:active{
   color: inherit;
}

@media screen and (max-width: 992px) {
   .title{
      font-size: 20px;
   }
   .logo-img{
      width: 70px;
   }
   .link{
      font-size: 25px;
   }
}
@media screen and (max-width: 768px) {
   .link{
      font-size: 20px;
   }
}
@media screen and (max-width: 635px) {
   .nav-list{
      display: none;
   }

}

