  .modal-show{
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: rgba(160, 182, 251, 0.64);
     position: absolute;
     height: 100vh;
     top: 0;
     left: 0;
     width: 100%;
     
  }
  .modal-close{
     display: none;
     position: absolute;
        
  }
  .link-block{
     display: flex;
     flex-direction: column;
     text-align: center;
     width: 100%;
     padding: 0 10px;
  }
  .modal-link{
     font-size: 40px;
     background-color: rgb(21, 119, 221);
     margin: 5px 0;
     padding: 10px;
     border-radius: 10px;
    
  }
  .modal-link:hover{
   background-color: rgb(17, 170, 243);
  } 